body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
  font-size: 1.5vw;
  background-color: aliceblue;
}

#logo {
  margin: 0px;
  padding: 8px;
  font-family: 'Alfa Slab One', sans-serif;
  width: 16%;
  text-shadow: -1px -1px 0 black, /* Top-left shadow */ 1px -1px 0 black,
    /* Top-right shadow */ -2px 1px 0 black,
    /* Bottom-left shadow */ 2px 1px 0 black; /* Bottom-right shadow */
}

body > header {
  background-color: #68afed;
  color: white;
  display: flex;
  height: 12vh;
  align-items: center;
  justify-content: space-around;
}

#nav-ul {
  display: flex;
}

#nav-ul > li {
  padding: 8px;
  margin: 16px;
}

body > header > nav > ul {
  list-style: none;
  text-decoration: none;
}

.navbutton {
  color: white;
  text-decoration: none;
  padding: 12px;
  border: 1px solid white;
  border-radius: 10%;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode header,
.dark-mode footer {
  background-color: #1e1e1e;
  color: #ffffff;
}

.food-image {
  width: 60%;
  height: 70%;
}

.image-caption {
  margin-top: 15px;
  text-align: center;
}

#image-container {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

#popular-recipes {
  width: 90%;
  text-align: center;
}

#main-content {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  padding: 10px;
}

form {
  text-align: center;
}

h2 {
  text-align: center;
}

body > footer {
  color: white;
  background-color: #68afed;
  display: flex;
}

#footer-ul {
  display: flex;
  list-style: none;
  text-align: center;
}

footer > h2 {
  font-family: 'Alfa Slab One', sans-serif;
  padding-left: 20px;
  font-size: 30px;
  text-shadow: -1px -1px 0 black, /* Top-left shadow */ 1px -1px 0 black,
    /* Top-right shadow */ -2px 1px 0 black,
    /* Bottom-left shadow */ 2px 1px 0 black; /* Bottom-right shadow */
}

#footer-ul > div > li {
  margin: 10px;
}

#footer-ul > div > li > a {
  color: white;
  text-decoration: none;
}
