body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
  font-size: 1.5vw;
}

#logo {
  margin: 0px;
  padding: 8px;
  font-family: 'Alfa Slab One', sans-serif;
  width: 16%;
  text-shadow: -1px -1px 0 black, /* Top-left shadow */ 1px -1px 0 black,
    /* Top-right shadow */ -1px 1px 0 black,
    /* Bottom-left shadow */ 1px 1px 0 black; /* Bottom-right shadow */
}

.food-image {
  width: 100px;
  height: 200px;
}

ul {
  margin: 0px;
}

body > header {
  background-color: #e97ae9;
  color: white;
  display: flex;
  height: 12vh;
  align-items: center;
  justify-content: space-around;
}

#nav-ul {
  display: flex;
}

#nav-ul > li {
  padding: 8px;
  margin: 16px;
}

body > header > nav > ul {
  list-style: none;
  text-decoration: none;
}

.navbutton {
  color: white;
  text-decoration: none;
  padding: 12px;
  border: 1px solid white;
  border-radius: 10%;
}

form {
  text-align: center;
}

h2 {
  text-align: center;
}

body > footer {
  background-color: #1ec0ff;
  display: flex;
}

#footer-ul {
  display: flex;
  list-style: none;
}
